/* Base */
/* ----------------------------------------------------------*/

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, body { height: 100%; }

/* body */ 

body {
    color:#333;
    font-family: 'Minion Pro', Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size:1em;
    line-height:1.5em;
    background:#fdfdfd;
    margin: 50px auto;
    margin-top: 50px;
    width: 60%;
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased;
    background-image: url("/img/spiral.png");
    background-repeat: no-repeat;
    background-position: top;
}


#content-wrapper {
margin:4em auto;
max-width:33em;
}

.shift-left {
    padding-right: 12em;
}

/* links*/

a{ color: #205caa; text-decoration:none;}
a:visited{ color: #0645ad; }
a:hover{ color: #cc6600; }
a:active{ color:#0645ad; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }



/* Headings*/


h1,h2,h3,h4,h5,h6{
font-weight:normal;
color:#111;
line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.1em; }
h2{ font-size:1.9em; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }


/* Normal text*/

p{
margin:1em 0;
text-align: left;
}



}
#container {
width: 940px;
margin: 0 auto;
}

/* Lists */




/* Layout styles */

/* ----------------------------------------------------------*/


/* Site header */ 

header.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  height: 2em;
  width: 100%;
}

header.site-header .wrap {
  max-width: 33em;
  margin: 0px auto;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

.site-title,.site-title:visited {
  display: inline;
  color: #333;
}


.site-nav {display: inline; }

.site-nav .trigger {
    display: inline;
    float: right;
    padding: 0 0.5em;
    color: #333;
}

.site-nav .trigger a{ color: #333; }
.site-nav .trigger a:hover{ color: teal; }
.site-title:hover{ color: navy; }

nav ul li, footer ul li {
    font-family: 'Minion Pro', Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
    width:100%;
    text-align: left;
    color: #6699cc;
    border-bottom: 2px solid #cc6600;

}










/* Site footer */ 



/* Posts */ 


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Page Content styles */


.page-content {
  padding: 30px 0;
  background-color: white;
}

/* Page Content styles */



/* Post styles */

.post-header { margin: 10px 0 30px; }



.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 20px;
  color: #818181;
  margin-top: 1px;
}

.post-content { margin: 0 0 40px; }

.post-content > * { margin: 20px 0; }


.post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: white;
  padding: 8px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* Post styles */
