body {
    margin: 70px auto;
    width: 80%;
    background-color: #fffae5
}
nav ul, header ul {
    font-family:'Garamond', 'Baskerville', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
}

nav ul, header ul {
    font-family:'Garamond', 'Baskerville', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #004fe6;
}
a:hover {
    text-decoration: underline;
    text-color:#3379ff;
}
h1 {
    font-size: 3em;
    font-family:'Garamond', 'Baskerville', 'Serif';
}

h2 {
    font-size: 2em;
    font-family:'Garamond', 'Baskerville', 'Serif';
}

h3 {
    font-size: 1.5em;
    font-family:'Garamond', 'Baskerville', 'Serif';
}

p {
    font-size: 1.2;
    line-height: 1.5em;
    color: #001233;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
