

/* Navigation bar styles */

/* ----------------------------------------------------------*/


nav, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    width: 100%; 
    position: center;


}

/* border around "list" of nav header */


li {
    float: left;
    border: 1px solid navy;
}

li a {
    display: block;
    color: #611507;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #cc6600;
    color: #ffffff;
}
