
#outline {
background:#ffffff;
opacity: 0.95;
margin:0 auto 0;
padding-top:0px;
height: 1000px;
width:800px;
border-bottom-right-radius: 800px 400px;
position: relative;
z-index: 1;
}



#content-wrapper {
margin:4em auto;
max-width:33em;
}

.shift-left {
    padding-right: 12em;
}