{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<!--if I want location here's the code: <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Wilmore, KY</li> -->

<!--if you want bio, it's here -->

<!-- For philpapers if I ever do it <li><a href="http://philpapers.org/profile/47267"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;PhilPapers</a></li> -->


<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="/images/keithbuhler-bw-smaller.png" alt="{{ author.name }}">
    {% else %}
    	<img src="/images/avatar.png" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>
   <div class="author__content">
    <h3 class="author__name"></h3>
  </div>
  <br>
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Connect</button>
    <ul class="author__urls social-icons">
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> USA </li>
        <li><a href="mailto:keithedbuhler@gmail.com"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> Email  </a></li>
        <li><a href="tel:1-562-230-2920"><i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp; Call</a></li>
        <li><a href="https://philosophy.as.uky.edu/users/kebu226"><i class="fa fa-university" aria-hidden="true"></i> &nbsp;University Page </a></li>
        <li><a href="https://uky.academia.edu/KeithBuhler">       <i class="fa fa-mortar-board"></i>                  &nbsp;Academia.edu Page    </a></li>
     </ul>
  </div>
</div>