{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="/images/keithbuhler-bw-smaller.png" alt="{{ author.name }}">
    {% else %}
    	<img src="/images/avatar.png" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

   <div class="author__content">
    <h3 class="author__name">Keith Buhler</h3>
    <p class="author__bio">Philosopher, classical educator, and author.</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Wilmore, KY</li>
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fa fa-fw fa-chain" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label }}</a></li>
      {% endif %}
        <li><a href="mailto:info@keithbuhler.com"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label }}</a></li>
        <li><a href="https://www.facebook.com/keithedbuhler"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
        <li><a href="http://philpapers.org/profile/47267""><i class="fa fa-book" aria-hidden="true"></i></i> PhilPapers</a>
        </li><a href="https://uky.academia.edu/KeithBuhler"><i class="fa fa-mortar-board"></i> Academia.edu </a>
    </ul>
  </div>
</div>
