{% include base_path %}

<h2><a id="Policies_1"></a>Policies</h2>
<h3><a id="Scale_3"></a>Scale</h3>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Letter Grade</th>
<th>Percentage</th>
</tr>
</thead>
<tbody>
<tr>
<td>A</td>
<td>99%-90%</td>
</tr>
<tr>
<td>B</td>
<td>89%-80%</td>
</tr>
<tr>
<td>C</td>
<td>79% - 70%</td>
</tr>
<tr>
<td>D</td>
<td>69% - 60%</td>
</tr>
<tr>
<td>F</td>
<td>&lt; 59%</td>
</tr>
</tbody>
</table>
<h3><a id="Reading_tips_14"></a>Reading tips</h3>
<p>Read ahead. There is a lot of reading but read carefully and slowly as need be; you will get faster, but start slow and careful. Try to read <em>and understand</em> the book or essay. Ask yourself: What is the main thesis? Is it true?  Take notes. Talk with each other before class. Ask yourselves and each other: What is the main point? What confused me?   Come to class with objections, questions, and arguments. More are tips <a href="http://www.keithbuhler.com/philosophy-class">available online.</a></p>
<h3><a id="Quizzes_17"></a>Quizzes</h3>
<p>Short reading quizzes assess that you read the day’s text. These are easy points, so be diligent in doing every quiz.</p>
<h3><a id="Attendance_20"></a>Attendance</h3>
<p>Attendance is mandatory; we need you here!  Roll will be taken each class by marking a 3x5 card.  (Being repeatedly or egregiously late will count as an absence.) You may check your absences at any time by requesting to see your card <em>in person</em>. I do not email attendance information. Aim for perfect attendance to maximize your learning.</p>
<p>That said, I give 2 personal absences as freebies. These 2 personal absences may be used without penalty for <em>for any reason</em>, including family visits, sickness, sports, or sleep. For other reasons, you need an excuse. The 3rd unexcused absence will cost a 2% deduction from the semester grade. This continues <em>per absence</em>. 6 unexcused absences is a letter grade and 9 will make a passing grade impossible.</p>
<ul>
<li>1 = -0</li>
<li>2 = -0</li>
<li>3 = -2%</li>
<li>4 = -4%</li>
<li>5 = -6%</li>
<li>6 = -10% (a letter grade)</li>
<li>7 = -12%</li>
<li>8 = -14%</li>
<li>9 = -50%</li>
</ul>
<h3><a id="Participation_35"></a>Participation</h3>
<p>The primary competency of this class is philosophical dialog. Hence, you must attend and participate. Class time is primarily focused on discussion of the material for which I expect you to be fully engaged.</p>
<p>To earn participation points, you will voluntarily share your thoughts in discussion at least once per week, and/or respond when called upon. You are not required to write posts on the discussion board online. By default, everyone is an “external processor”.</p>
<p><em>“Internal processors”</em>: Some may wish to opt out of speaking in class and emphasize writing.  To earn participation points, you will post class reflections online every week. You may elect to speak in class as well, and may be called upon.</p>
<p>Everyone starts at an 80% (B-) for the participation grade. You will move up or down depending on whether you pay attention and speak at least once per week. (I prohibit the use of electronic devices in class, although laptop users may request permission to sit in the front of class with their computers.) Other <a href="http://www.keithbuhler.com/discussion101">discussion ground rules are posted online.</a></p>
<p><em>You are responsible to talk in class.</em> Even if you are confused, tired, or unmotivated, I expect you to make yourself participate and engage. Get out of your comfort zone into your growth zone. Come <em>prepared</em>. Read, take notes, reflect, and come ready to share your viewpoint, defend it, listen to others’ viewpoints, and critique theirs.</p>
<p>We dialog so much because: (1) You must take responsibility for your own learning. (2) We can actually get to know each other. (3) Most people learn (and retain) best in discussion. (4) Philosophy is dialogical.</p>
<h3><a id="Critical_Readings_50"></a>Critical Readings:</h3>
<p>You <em>may</em> be assigned a group “critical reading” assignment. Your group must meet <em>ahead of time</em> to read and discuss the assignment more thoroughly than your normal reading. You will then summarize the reading, analyze it, and present your own opinions. One or all of you will present your summary to the class. Instructions are posted online.</p>
<h3><a id="Unit_Papers_53"></a>Unit Papers</h3>
<p>Every student will write several Unit Papers. These Unit Papers help you synthesize your own views after doing the readings and listening to lectures and participating in the discussions.  Be careful to cite your sources correctly, because I do not tolerate plagiarism. Papers may receive a letter grade or may be graded pass/fail -- so follow the instructions closely. The instructions are posted online.</p>
<h3><a id="Extra_Credit_57"></a>Extra Credit</h3>
<p>Those who opt for extra credit may do so. You may do extra reading, extra writing, extra class preparation, for up to 5% of the semester grade. The normal amount of extra credit awarded is 2%. The only way to earn all 5% is to do multiple types of extra credit and do them well. Full instructions are posted online.</p>
<h3><a id="Late_Work_62"></a>Late Work</h3>
<p>In general, I do not accept late work. Plan ahead and do work early before vacations, sports trips, or busy times. Do the quizzes ahead of time to avoid technical difficulties. Valid excuses for turning in papers late include medical or family emergencies, or abnormal technical failures. That said, due dates are not eternal laws; I willing to negotiate within reason. If you are very stressed, or if I have not graded everything yet, we can talk about moving a due date. Just ask.</p>
<h3><a id="Miscellany_66"></a>Miscellany:</h3>
<ol>
<li><strong>Bring your textbook</strong> to every class.</li>
<li><strong>Participate.</strong> Participation is your responsibility; I may or may not call on you. Challenge yourself!</li>
<li><strong>Stay focused.</strong> Do not distract yourself with side conversations, texting, Facebook, or doing anything else in class. Take a short mental break or bathroom break if you need to, but come back.</li>
<li><strong>No smart phones.</strong> No other electronics, laptops, tablets, phones, etc. Unplug, listen and engage. (If you have an important phone call or text, please step outside the class for a moment, then return.)</li>
<li><strong>No laptop/tablets</strong>. Rare exceptions must request permission to use their device. If approved, you must sit in the front row.</li>
<li><strong>Be respectful of others</strong>: Pay attention when a neighbor is talking. No teasing. Don’t pack up too early – 1 minute before the end of class is fine.</li>
<li><strong>Contact me.</strong> The best method is to chat before/after class. Second best is email, Canvas message, or Tweet; I read every email but may not respond to every email. If you need a response but I haven’t responded within three (3) days, email again with the subject “nudge”. (Please use <a href="mailto:keith.buhler@uky.edu">keith.buhler@uky.edu</a>.)</li>
<li><strong>Contact</strong>. For short, quick questions, use Twitter (keith_buhler)</li>
<li><strong>Email</strong>. You are expected to have an active e-mail account that you check regularly, and to check “news” or “announcements” section on Canvas (or Discovery, etc.). Section related announcements will be made on this platform and/or via e-mail  (e.g. if I am sick, pointers for home work, change in due dates).</li>
<li><strong>Accommodations</strong>. Disabilities can be accommodated. Make sure you are properly registered with the Disability Resource Center.</li>
<li><strong>Plagiarism</strong>. Do not plagiarize. If I detect plagiarism, I will contact you. The assignment will receive a zero, and disciplinary action may follow. It may jeopardize your standing in the class. If you forget to quote a source, that’s still plagiarism. Also, if you intentionally take anyone else’s work or offer your work to anyone else (under whatever auspices). You’ll submit your papers to SafeAssign  to help avoid accidental plagiarism. Don’t even think about stealing someone else’s thought/work.  <a href="https://www.uky.edu/Ombud/What_Is_Plagiarism.pdf">For more information, refer to academic integrity documents like this one</a>.</li>
<li><strong>Enjoy yourself.</strong> We are not merely solving abstract puzzles here, but digging deeply into human thinking in a way that could change your life forever. The more you and your fellows allow yourselves to acquire a “taste” for the material, the more inclined you will be to give it the real effort required to master it.</li>
</ol>