{% include base_path %}

<!--<li>for Youtube in Footer <a href="http://bit.ly/keithbuhler_youtube"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>-->
 

<div class="page__footer-follow" align="center">
  <ul class="social-icons">
      <li><a href="/contact"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>Contact </a></li>
      <li><a href="/privacy"><i class="fa fa-fw fa-briefcase" aria-hidden="true"></i>Privacy</a></li>
      <li><a href="http://bit.ly/keithbuhlergithub"><i class="fa fa-fw fa-github" aria-hidden="true"></i>Source</a></li>
      <li><a href="/README"><i class="fa fa-sitemap" aria-hidden="true"></i> Site</a></li>
  </ul>
</div>

<div class="page__footer-copyright" align="center">&copy; {{ site.time | date: '%Y' }} <a href="/README"> Keith Buhler </a></div>