{% include base_path %}


<div align="center"> &nbsp; 
  <img src="/images/seal-biola.png" alt="Biola U" align="center" hspace="5px" width="50" height="50"> &nbsp; 
  <img src="/images/seal-thi.png" alt="Torrey Honors" align="center" hspace="5px" width="50" height="50"> &nbsp; 
  <img src="/images/seal-balamand.png" alt="Balamand" align="center" hspace="5px" width="50" height="50"> &nbsp; 
  <img src="/images/seal-uk.png" alt="Kentucky" align="center" hspace="5px" width="50" height="50"> &nbsp; 
</div>

<div class="page__footer-copyright" align="center">&copy; {{ site.time | date: '%Y' }} <a href="/README"> Keith Buhler </a></div>