{% include base_path %}

<div class="page__footer-follow" align="center">
  <ul class="social-icons">
      <li><a href="mailto:info@keithbuhler.com"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label }}</a></li>
      <li><a href="https://facebook.com/keithedbuhler"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      <li><a href="https://www.youtube.com/channel/UCDxfeT2v6-kFM12T7zD-K9Q/"><i class="fa fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      <li><a href="http://github.com/keithbuhler"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      <li><a href="/README"><i class="fa fa-sitemap" aria-hidden="true"></i></i> Site Info</a></li>

  </ul>
</div>

<div class="page__footer-copyright" align="center">&copy; {{ site.time | date: '%Y' }} <a href="/README"> Keith Buhler </a></div>