<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-brand"> 
      keithbuhler.com
        </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

  <!--everything in this navbar-right goes to the left, next to the icon-->
      <ul class="nav navbar-nav">  
      </ul>
      <ul class="nav navbar-nav navbar-right">
     
 
     <li><a href="/blog7-lessmore/about"> About </a></li>  





          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">CV</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Papers</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Interests</a></li>
          </ul>
        </li>

      <li><a href="/sandbox"> Teaching </a></li>  

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Writing<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Books</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Articles</a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Speeches</a></li>
          </ul>
        </li>


      <li><a href="/sandbox"> Sandbox </a></li>  

<!-- This is the generic code for a drop-down menu item
<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parent<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Child 1 </a></li>
            <li><a rel="nofollow" target="_blank" href="{{site.github}}">Child 2</a></li>
          </ul>
        </li>
-->


       

      </ul>
    </nav>
  </div>
</header>



