<header class="site-header">

  <div class="wrap">
      <a class="site-title" href="/philosophy"> Philosophy Portal </a>
    <nav class="site-nav">
	<div class="trigger"> <a class="page-link" href="/philosophy-resources">Resources</a></div>
        <div class="trigger"> <a class="page-link" href="/philosophy-7-profession">Considering Graduate School</a></div>
        <div class="trigger"> <a class="page-link" href="/philosophy-6-next">After Finals</a></div>
        <div class="trigger"> <a class="page-link" href="/philosophy-3-major">Major/Minor</a></div>
     <div class="trigger"> <a class="page-link" href="/philosophy-class">Tips for Success</a></div>
    </nav>
  </div>
</header>