{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu" align="center">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li><a href="{{ '/' | prepend: site.baseurl }}" class="navbar-brand"><img src="/images/kb.png"></a></li>
          <li><a href="/philosophy/">Philosophy Portal home</a></li>
          <li><a href="/philosophy-class">How to succeed</a></li>
          <li><a href="/philosophy-3-major">Should I Major?</a></li>
          <li><a href="/philosophy-7-profession">Graduate school?</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
