<div class="masthead">
  <div class="masthead__inner-wrap">
          <a class="site-title" href="http://www.keithbuhler.com/">keithbuhler.com</a>
    <div class="masthead__menu" align="center">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div> <!--masthead__menu-->
  </div><!--masthhead__inner-wrap-->
</div> <!--masthead-->