{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu" align="center">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="http://keithbuhler.com/philosophy">Philosophy Portal Home</a></li>
          <li><a href="/philosophy-3-major">Before class</a></li>
          <li><a href="/philosophy-class">How to succeed</a></li>
          <li><a href="/philosophy-3-major">Should I Major?</a></li>
          <li><a href="/philosophy-7-profession">Graduate school?</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
