<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu" align="center">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="http://www.keithbuhler.com/">Keith Buhler</a></li>
            {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" {% if page.url=="{{ domain }}{{ link.url }}" %} class="active"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div> <!--masthead__menu-->
  </div><!--masthhead__inner-wrap-->
</div> <!--masthead-->