<!DOCTYPE html>
 <html>
 	{% include header.html %}
  <body>
  	     <nav>
     		     <ul>
         		   <li><a href="/">About</a></li>
 	        	   <li><a href="/Buhler-CV">CV</a></li>
         		   <li><a href="/teaching">Teaching</a></li>
         		   <li><a href="/research">Research</a></li>
               <li><a href="/students">For Students</a></li> 
     		     </ul>
      <div class="container">
 		     </nav>
        {{ content }}
  	   </div><!-- /.container -->

 		   <footer>
    <br>
 		<p>©2016 | Rights reserved. | <i><a href="/siteinfo"> Site Info</a> </i> | <a emailto="keithedbuhler@gmail.com"> Contact </a> |
    </footer>
 	</body>

 </html>
