<!DOCTYPE html>
 <html>
 	<head>
 		<title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="'keithbuhler.github.io/css/main.css'">
 	</head>
 	<body>
 		<nav>
     		<ul>
         		<li><a href="/">Home</a></li>
 	        	<li><a href="/Buhler-CV">CV</a></li>
         		<li><a href="/teaching">Teaching</a></li>
         		<li><a href="/research">Research</a></li>
     		</ul>
 		</nav>
 		<div class="container">
    {{ content }}
  	</div><!-- /.container -->
 		<footer>
 		<li><a href="mailto:keithedbuhler@gmail.com">Email</a></li>
 		<li><a href="/fun">Personal</a></li>
 		</footer>
 	</body>
 </html>
