<!DOCTYPE html>
 <html>
 	<head>
 		<title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/fun.css">
 	</head>
 	<body>
 		<nav>
     		<ul>
                <li><a href="/">Philosophy Home</a></li>
                <li><a href="/fun">Personal Home</a></li>
                <li><a href="http://www.readingintentionally.com/">The Reading Project</a></li>
                <li><a href="/fun/inklings">Inklings</a></li>
                <li><a href="/fun/writings">Writings</a></li>
     		</ul>
 		</nav>
 		<div class="container">
    {{ content }}
 		 </div><!-- /.container -->
        <footer>
        Copyright © 2016 Keith E. Buhler | <a href="/fun/siteinfo">Rights reserved.</a>
        </footer>
    </body>
 </html>