<!DOCTYPE html>
 <html>
 	<head>
 		<title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/fun.css">
 	</head>
 	<body>
 		<nav>
     		<ul>
         		<li><a href="/">Philosophy</a></li>
 	        	<li><a href="/fun/inklings">Inklings</a></li>
         		<li><a href="http://www.readingintentionally.com/">Intentional Reading Project</a></li>
         		<li><a href="/fun/meditation">Meditation</a></li>
         		<li><a href="/fun/writings">Writings</a></li>



     		</ul>
 		</nav>
 		<div class="container">
    {{ content }}
  	</div><!-- /.container -->
 		<footer>
 		<li><a href="mailto:keithedbuhler@gmail.com">Email</a></li>
 		<li><a href="/fun">Personal</a></li>
 		</footer>
 	</body>
 </html>
