<!DOCTYPE html>
 <html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
    <meta name="viewport" content="width=device-width">   

    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html | strip | strip_newlines | truncate: 155 }}">
    {% elsif post.excerpt %}
        <meta name="description" content="{{ post.excerpt | strip_html | strip | strip_newlines | truncate: 155 }}">
    {% else %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71712734-1', 'auto');
  ga('send', 'pageview');
</script>

      <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="keithbuhler.github.io/css/philosophy.css">

  </head>

    <body>
   
    <div id="content-wrapper">  

<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="/philosophy"> Philosophy Portal </a>
      <nav class="site-nav">
        <div class="trigger"><a class="page-link" href="/philosophy-7-profession">Considering Graduate School?</a></div>
        <div class="trigger"><a class="page-link" href="/philosophy-3-major">Considering a Major/Minor?</a></div>
        <div class="trigger"><a class="page-link" href="/philosophy-6-next">When Class Is Over</a></div>
        <div class="trigger"><a class="page-link" href="/philosophy-class">How to Succeed in Philosophy</a></div>
      </nav>
  </div>
</header>

     <div class="page-content">

        {{ content }}
       </div><!-- /.container -->
       </div>

  <footer class="site-footer">

      <div class="wrap" align="center">

      <a href="/siteinfo"> Copyright © 2016 Keith Buhler. |  Site Info. </a> | <a href="contact"> Contact. </a> |

      </div>

  </footer>
     </body>
 </html>
