<!DOCTYPE html>
 <html>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71712734-1', 'auto');
  ga('send', 'pageview');
</script>
 	<head>
 		<title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/fun.css">
 	</head>
 	<body>
 		<nav>
     		<ul>
                <li><a href="/student">Student Home</a></li>
                <li><a href="/philosophy-2-portal">Philosophy Portal</a></li>
                <li><a href="/philosophy-3-new-student">New?</a></li>
                <li><a href="/philosophy-3-major">Majoring in Philosophy</a></li>
                <li><a href="/philosophy-4-in-class">How to Succeed</a></li>
                <li><a href="/philosophy-6-next">Like Philosophy?</a></li>
                <li><a href="/philosophy-7-profession">The Profession</a></li>
                <li><a href="/philosophy-8-finished">Finished</a></li>
                <li><a href="/philosophy-10-other">Everything Else</a></li>
                <li><a href="/philosophy-tips">Tips</a></li>
                <li><a href="/philosophy-tips">Resources</a></li>
     		</ul>
 		</nav>
 		<div class="container">
    {{ content }}
 		 </div><!-- /.container -->
       <footer>
       <a href="https://twitter.com/Keith_Buhler" class="twitter-follow-button" data-show-count="false">Follow @Keith_Buhler</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <i>© 2016 Keith Buhler | <a href="/siteinfo">Some rights reserved.</a></i>
    </footer>
  </body>
 </html>
